.section
{
    background: var(--fd-color-100);
    min-height: 100vh;
    position: fixed;
    display: block;
    padding: 0 30px;
    opacity: 1;
    left: 270px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.section.back-section
{
    z-index: 1;
}

.section.active
{
    z-index: 2;
    opacity: 1;
    animation: Section 2s ease;
}

@keyframes Section
{
    0%
    {
        transform: translateX(100%);
    }
    100%
    {
        transform: translateX(0%);
    }
}

.contenedor
{
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

.section .contenedor
{
    padding-top: 60px;
    padding-bottom: 70px;
}

/*aside*/

.aside
{
    width: 270px;
    background: var(--fd-color-900);
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    height: 100%;
    border-right: 2px solid var(--fd-color-50);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: all 0.3s ease;
}

.aside .logo
{
    position: absolute;
    top: 30px;
}

.aside .logo img
{
    height: 150px;
    width: 150px;
}

.aside .nav-toggler
{
    height: 40px;
    width: 45px;
    border: 4px solid var(--estilo-color);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--fd-color-900);
    display: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.aside .nav-toggler span
{
    height: 3px;
    width: 18px;
    background: var(--estilo-color);
    display: inline-block;
    position: relative;

}


.aside .nav-toggler.open span
{
    background-color: transparent;
}

.aside .nav-toggler span::before
{
    content: '';
    height: 3px;
    width: 18px;
    background: var(--estilo-color);
    position: absolute;
    top: -6px;
    left: 0;
}

.aside .nav-toggler.open span::before
{
    transform: rotate(45deg);
    top: 0;
}

.aside .nav-toggler span::after
{
    content: '';
    height: 3px;
    width: 18px;
    background: var(--estilo-color);
    position: absolute;
    top: 6px;
    left: 0;
}

.aside .nav-toggler.open span::after
{
    transform: rotate(-45deg);
    top: 0;
}

.aside .nav
{
    margin-top: 50px;
}

.aside .nav li
{
    display: block;
    margin-bottom: 10px;
}

.aside .nav li a
{
    display: block;
    font-size: 16px;
    font-weight: 700;
    border-bottom: 2px solid var(--fd-color-50);
    color: var(--texto);
    padding: 5px 15px;
}

.aside .nav li a.active
{
    color: var(--estilo-color);
}

.aside .nav li a i, 
.aside .nav li a .ion-icon
{
    margin-right: 15px;
}

/*Login*/

.section .contenedores
{
    width: 410px;
    height: 450px;
    background: var(--fd-color-900);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 10px;
}

.contenedores .formulario
{
    width: 100%;
    overflow: hidden;
}

.contenedores img
{
    width: 150px;
    height: 150px;
    background: transparent;
    border-radius: 50%;
    position: absolute;
    top: -70px;
    left: 130px;
}

h3.my-profession
{
    text-align: center;
    position: relative;
    font-size: 25px;
    margin: 15px 0;
    margin-bottom: 20px;
}

.typing
{
    color: var(--estilo-color);
}

.formulario form .pagina .campo
{
    height: 35px;
    width: 350px;
    margin: 40px 0;
    display: flex;
    position: relative;
}

.formulario form .pagina .campo .label
{
    position: absolute;
    color: var(--estilo-color);
    top: -30px;
    font-weight: 700;
    font-size: 20px;
    float: left;
    text-align: left;
    width: 100%;
}

.formulario form .pagina .campo input
{
    width: 100%;
    color: var(--texto);
    font-style: 'Roboto Slab';
    height: 100%;
    border: none;
    border-bottom: 5px solid var(--estilo-color);
    background: transparent;
    font-size: 18px;
    font-weight: 700;
    padding-left: 5px;
}

.contenedores .formulario .campo a
{
    font-size: 15px;
    font-weight: 700;
    color: var(--texto);
    transition: all 0.4s ease;
}

.contenedores .formulario .campo a:hover
{
    color: var(--estilo-color);
}

.formulario form .pagina .campo input[type='submit']
{
    width: 100%;
    height: calc(100% + 5px);
    margin-top: -20px;
    border: none;
    border-radius: 7px;
    background: var(--texto);
    color: var(--fd-color-900);
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition:all 0.3s ease;
}

.formulario form .pagina .campo input[type='submit']:hover
{
    background: var(--estilo-color);
}

.formulario form .pagina .campo input[type='submit']
{
    margin-top: -20px !important; 
}

.ojitos
{
    position: absolute;
    top: 5px;
    right: 7px;
    font-size: 20px;
    color: var(--estilo-color);
}

#ocultar
{
    display: none;
}

#ocultar, #mostrar
{
    cursor: pointer;
}

@media (max-width:1199px)
{
    .section .contenedor
    {
        padding-top: 70px;
    }

    .aside
    {
        left: -290px;
    }

    .aside.open
    {
        left: 0;
    }

    .aside .nav-toggler
    {
        display: flex;
        left: 30px;
    }

    .aside .nav-toggler.open
    {
        left: 300px;
    }

    .section
    {
        left: 0;
    }

    .section.open 
    {
        left: 270px;
    }
}

@media (max-width:600px)
{
    .section .contenedores
    {
        width: 310px;
    }

    .contenedores img
    {
        left: 80px;
    }

    .formulario form .pagina .campo
    {
        width: 250px;
    }

    .contenedores .formulario .campo a
    {
        margin-top: -17px;
    }

}
